# DeepSeek API 配置
DEEPSEEK_KEY=sk-f06b278a58d64a218286f801f36aa2c4
DEEPSEEK_BASE=https://api.deepseek.com/anthropic
DEEPSEEK_MODEL=deepseek-v4-pro[1m]

# MyLog 账号
MYLOG_URL=http://47.98.125.128
MYLOG_USER=lanxin
MYLOG_PASS=123456

# 笔记目录
NOTES_DIR=D:\NOTES\编程笔记\实习
